              
<% @my_restrooms.each_with_index do |restroom, index| %>
    <div class="location" data-latitude="<%=restroom.latitude %>" data-longitude="<%= restroom.longitude %>" data-name ='<%= restroom.name %>' data-location='<%= restroom.location %>' data-borough='<%= restroom.borough %>' data-open='<%= restroom.open_year_round %>' data-user='<%= restroom.user_id %>' data-id='<%= restroom.id %>'></div>
<% end %>

  


<div class="col-12 info">
    <div class="row image-placeholder">
       <div class="col-12 home-image">
          
       </div>
   </div>
   <div class ='marker-details box'>
    <div class="row info-display">
        <div class="col-4 align-right">
            <strong>Name: </strong><br>
            <strong>Location:  </strong><br>
            <strong>Borough: </strong><br>
            <strong>Open Year Round: </strong><br>
<!--            <strong>User: </strong><br>-->
            <strong>Avr Rating: </strong><br>
        </div>

        <div class="col-8 aling-left">
            <p class = 'bathroom_name'> </p>
            <p class = 'bathroom_location'></p>
            <p class = 'bathroom_borough'></p>
            <p class = 'bathroom_open'></p>
            <p class = 'bathroom_user'></p>
            <p class = 'bathroom_id'></p>

        </div>
  
    </div>            
       
    <div class = 'row'>
        <div class="col-4 align-right">
            
            <strong>Mode of Travel: </strong>
        </div>
        <div class="col-8 aling-left">
            <select id="mode">
            <option value="DRIVING">Driving</option>
            <option value="WALKING">Walking</option>
            <option value="BICYCLING">Bicycling</option>
            <option value="TRANSIT">Transit</option>
            </select> 
        </div>

    </div>    
   
    </div>
</div> 
  
  
<div>
   
    <ul class="rate-area">

        <input type="radio" id="5-star" name="rating" value="5" /><label for="5-star" title="Amazing">5 stars</label>
        <input type="radio" id="4-star" name="rating" value="4" /><label for="4-star" title="Good">4 stars</label>
        <input type="radio" id="3-star" name="rating" value="3" /><label for="3-star" title="Average">3 stars</label>
        <input type="radio" id="2-star" name="rating" value="2" /><label for="2-star" title="Not Good">2 stars</label>
        <input type="radio" id="1-star" name="rating" value="1" /><label for="1-star" title="Bad">1 star</label>

    </ul>
    <div class="comment">
       
        <%#= #link_to 'Leave a comment', new_bathroom_location_review_path(stats[i].id), class: "btn btn-outline-primary btn-block mt-3" %>
    </div>
</div>
  
<div id="directionsPanel" style="width:80%;height 100%"></div>  
   
    
    
<!---
#        let restrooms = document.querySelectorAll('.location');
#        let myBathroom = restrooms[0];
#        myBathroom.getAttribute('data-latitude');
#        myBathroom.getAttribute('data-longitude');
#-->
